
.sentMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 8px;
}


.sentMessage {
  text-align: left;
  padding: 10px;
  color: #fff;
  background-color: #000000;
  border-radius: 15px 15px 0 15px;
  max-width: 60%;
}


.receivedMessageContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 8px;
  border-radius: 10px;
}

.receivedMessage {
  text-align: left;
  padding: 10px;
  color: #333;
  background-color: #e5d11b;
  border-radius: 15px 15px 15px 0;
  max-width: 60%;
}


.senderText {
  font-size: 12px;
  color: #777;
  margin-bottom: 4px;
}